<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Add a new faculty</title>
</head>
<body>
<div layout:fragment="content">
<div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
        <h1 class="py-5">Add a new faculty</h1>
        <form method="post" th:action="@{/faculties/add}" th:object="${facultyDTO}">
            <div class="form-group">
                <label for="name">Faculty Name</label>
                <input class="form-control" id="name" placeholder="Enter Faculty Name" required th:field="*{name}"
                       type="text"/>
            </div>
            <br>
            <div class="form-group">
                <label for="budget">Budget places</label>
                <input class="form-control" id="budget" placeholder="Number of budget places" required th:field="*{budgetPlaces}"
                       type="text"/>
            </div>
            <br>
            <div class="form-group">
                <label for="total">Total places</label>
                <input class="form-control" id="total" placeholder="Total number of places" required th:field="*{totalPlaces}"
                       type="text"/>
            </div>
            <br><br>
            <input class="btn btn-primary" type="submit" value="Create New Faculty">
        </form>
    </div>
</div>
</div>
</body>
</html>