<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit your profile</title>
</head>
<body>
<h2>Account details:</h2>
<form action="/editUser" method="post">
    <input type="hidden" name="_method" value="PUT">
    <label for="email">E-mail address:</label><br>
    <input type="email" id="email" name="email" value="example@gmail.com" required><br><br>
    <label for="password">Change password:</label><br>
    <input type="text" id="password" name="password" value="password" required><br><br>
    <label for="pass2">Repeat new password:</label><br>
    <input type="text" id="pass2" name="pass2" value="password" required><br><br>
    <input type="submit" value="Save changes">
</form><br><br>
<h2>Profile details:</h2>
<form action="/editApplicant" method="post">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="First name"><br><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Last name"><br><br>
    <label for="city">City:</label><br>
    <input type="text" id="city" name="city" value="City"><br><br>
    <label for="region">Region:</label><br>
    <input type="text" id="region" name="region" value="Region"><br><br>
    <label for="eduinst">Educational institution:</label><br>
    <input type="text" id="eduinst" name="eduinst" value="Fake University"><br><br>
    <label for="certificate">Optional: attach scan of your certificate:</label><br>
    <input type="file" id="certificate" accept="image/*, .pdf"><br><br>
    <input type="submit" value="Save changes">
</form><br><br>
<h2>Scores:</h2>
<form action="/editScores" method="post">
    <p>Type of score:<br>
    <input type="radio" id="grade" name="scoretype">
    <label for="grade">Grade from certificate</label>
    <br><br>
    <input type="radio" id="results" name="scoretype">
    <label for="results">Results from the subject</label>
    </p>
    <label for="subject">Name of the subject:</label><br>
    <input type="text" id="subject" name="subject" value="Math"><br><br>
    <label for="result">Result:</label><br>
    <input type="text" id="result" name="result" value="100"><br><br>
    <input type="submit" value="Save changes">
</form>
</body>
</html>