<!doctype html>
<html th:lang="${#locale.language}" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{error.title}" >Something went wrong...</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container main-content">
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger"><h3 th:text="${error}">Status</h3></li>
            <li class="list-group-item" th:text="#{status.code} + ': '+ ${status}"></li>
        </ul>
        <br><br>
        <p><a class="btn btn-primary" href="/" th:href="@{/}" th:text="#{return.home}">Back to home page</a></p>
    </div>
</div>
</body>
</html>