<!doctype html>
<html th:lang="${#locale.language}" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{register}">Register</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h1 class="py-3 text-center" th:text="#{register.form}">Registration form</h1>
            <form class="text-dark" method="post" th:action="@{/register}" th:object="${user}">
                <div class="alert alert-danger py-0" th:if="${#fields.hasErrors('*')}">
                    <p th:text="#{error.message}">Please correct errors listed below</p>
                </div>
                <div class="form-floating mb-3 mt-3 has-feedback">
                    <input class="form-control" id="username" placeholder="user_123" required th:field="*{username}"
                           type="text"/>
                    <label for="username" th:text="#{username}">Username</label>
                    <span class="help-block" th:if="${#fields.hasErrors('username')}">
                <p class="text-danger py-0" th:errors="*{username}">Username error</p>
                   </span>
                </div>
                <div class="form-floating mb-3 mt-3 has-feedback">
                    <input class="form-control" id="email" placeholder="user@example.com" required th:field="*{email}"
                           type="text"/>
                    <label for="email" th:text="#{email}">E-mail</label>
                    <span class="help-block" th:if="${#fields.hasErrors('email')}">
                <p class="text-danger py-0" th:errors="*{email}">E-mail error</p>
                   </span>
                </div>
                <br>
                <div class="form-floating mb-3 mt-3 has-feedback">
                    <input class="form-control" id="password" required th:field="*{password}"
                           type="password"/>
                    <label for="password" th:text="#{password}">Password</label>
                    <div class="py-2"><input onclick="show1()" type="checkbox"><span class="text-light px-2">Show Password</span>
                    </div>

                    <span class="help-block" th:if="${#fields.hasErrors('password')}">
                <p class="text-danger py-0" th:errors="*{password}">Password error</p>
                   </span>
                </div>
                <script>
                    function show1() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

                </script>
                <br>
                <div class="form-floating mb-3 mt-3 has-feedback">
                    <input class="form-control" id="matchingPassword" required th:field="*{matchingPassword}"
                           type="password"/>
                    <label for="matchingPassword" th:text="#{password2}">Confirm password</label>
                    <div class="py-2"><input onclick="show2()" type="checkbox"><span class="text-light px-2">Show Password</span>
                    </div>
                    <span class="help-block" th:if="${#fields.hasErrors('matchingPassword')}">
                <p class="text-danger py-0" th:errors="*{matchingPassword}">Password error</p>
                   </span>
                </div>
                <script>
                    function show2() {
  var x = document.getElementById("matchingPassword");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

                </script>
                <!--                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                <div class="text-center"><input class="btn btn-primary" type="submit" th:value="#{register}"></div>
            </form>
        </div>
    </div>
</div>
</body>
</html>