<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{score.new}">Add a new score</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h1 class="py-3 text-center" th:text="#{score.new}">Add a new score</h1>
            <form class="text-dark" method="post" th:action="@{/applicant/new-score}" th:object="${scoreDTO}">
                <div class="form-floating mb-3 mt-3">
                    <input class="form-control" id="name" placeholder="#{score.subject}" required th:field="*{subjectName}"
                           type="text"/>
                    <label for="name" th:text="#{score.subject}">Subject Name</label>
                </div>
                <br>
                <div class="form-floating mb-3 mt-3">
                    <input class="form-control" id="result" placeholder="#{score.result}" required th:field="*{result}"
                           type="text"/>
                    <label for="result" th:text="#{score.result}">Result</label>
                </div>
                <br><br>
                <input class="btn btn-primary" type="submit" th:value="#{submit}">
            </form>
        </div>
    </div>
</div>
</body>
</html>