<!doctype html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{edit.profile}">Edit your profile</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h1 class="py-3 text-center" th:text="#{edit.profile}">Edit profile</h1>
            <br>
                <form class="text-dark" th:action="@{/applicant/{username}/edit(username = ${username})}"
                      th:method="put" th:object="${applicantDTO}">
                    <div class="form-floating mb-3">
                        <input class="form-control" id="fname" placeholder="*{firstName}" required
                               th:field="*{firstName}"
                               type="text"/>
                        <label for="fname" th:text="#{fname}">First name</label>
                        <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                <p class="text-danger py-0" th:errors="*{firstName}">First name error</p>
                   </span>
                    </div>
                    <br>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="lname" placeholder="*{lastName}" required th:field="*{lastName}"
                               type="text"/>
                        <label for="lname" th:text="#{lname}">Last name</label>
                        <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                <p class="text-danger py-0" th:errors="*{lastName}">Last name error</p>
                   </span>
                    </div>
                    <br>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="city" placeholder="*{city}" required th:field="*{city}"
                               type="text"/>
                        <label for="city" th:text="#{city}">City</label>
                        <span class="help-block" th:if="${#fields.hasErrors('city')}">
                <p class="text-danger py-0" th:errors="*{city}">City error</p>
                   </span>
                    </div>
                    <br>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="region" placeholder="*{region}" required th:field="*{region}"
                               type="text"/>
                        <label for="region" th:text="#{region}">Region</label>
                        <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                <p class="text-danger py-0" th:errors="*{region}">Region error</p>
                   </span>
                    </div>
                    <br>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inst" placeholder="*{educationalInstitution}" required
                               th:field="*{educationalInstitution}"
                               type="text"/>
                        <label for="inst" th:text="#{edu.inst}">Educational institution</label>
                        <span class="help-block" th:if="${#fields.hasErrors('educationalInstitution')}">
                <p class="text-danger py-0" th:errors="*{educationalInstitution}">Educational institution error</p>
                   </span>
                    </div>
                    <div class="text-center"><input class="btn btn-primary" type="submit" th:value="#{submit}"></div>
                </form>

            <form class="text-dark" th:action="@{/applicant/save-certificate/{id}(id = ${applicantDTO.getId})}"
                  th:method="post" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label class="form-label" for="certificate"><span class="text-light">(Optional) Upload a scan of your certificate</span></label>
                    <input accept=".pdf, image/*" class="form-control" id="certificate" name="file" type="file">
                </div>
                <div class="text-center"><input class="btn btn-primary" type="submit" th:value="#{upload}"></div>
            </form>
            <!--List of applicant's scores-->
                <div th:if="${!applicantDTO.scores.isEmpty}">
                    <h2 class="py-3 text-center" th:text="#{scores}">Scores</h2>
                    <div class="text-center"><a class="btn btn-primary" role="button" th:href="@{/applicant/new-score}" th:text="#{score.new}">Add
                        a new score</a></div>
                    <table class="py-3 table-responsive">
                        <thead>
                        <td class="text-center" th:text="#{score.subject}">Subject Name</td>
                        <td class="text-center" th:text="#{score.result}">Result</td>
                        </thead>
                        <br>
                        <tbody>
                        <div th:if="${scores != null}">
                            <th:block th:each="score:${scores}">
                                <tr>
                                    <form class="text-dark"
                                          th:action="@{/applicant/edit-score/{id}(id = ${score.getId})}"
                                          th:if="${score != null}"
                                          th:method="put">
                                        <td><input class="form-control" id="name" placeholder="${score.subjectName}"
                                                   required
                                                   th:value="${score.subjectName}"
                                                   type="text"/></td>
                                        <td><input class="form-control" id="result" placeholder="${score.result}"
                                                   required
                                                   th:value="${score.result}"
                                                   type="text"/></td>
                                        <td class=" px-3">
                                            <div class="text-center"><input class="btn btn-primary" type="submit"
                                                                            th:value="#{submit}"></div>
                                        </td>
                                    </form>
                                </tr>
                            </th:block>
                        </div>
                        </tbody>
                    </table>
                </div>
                        <!--List of applicant's requests and current status -->
                <div th:if="${!applicantDTO.requests.isEmpty}">
                    <h2 class="py-3 text-center" th:text="#{faculty.list}">Faculties' application requests</h2>
                    <table class="py-3 table-responsive text-center">
                        <thead class="text-center">
                        <td th:text="#{faculty.name}">Faculty Name</td>
                        <td th:text="#{request.date}">Registration date</td>
                        <td th:text="#{request.status}">Enrollment status</td>
                        </thead>
                        <br>
                        <tbody>
                        <th:block th:each="request : ${requests}">
                            <tr>
                                <form class="text-dark"
                                      th:action="@{/applicant/edit-request/{id}(id = ${request.getId})}"
                                      th:if="${request != null}"
                                      th:method="put">
                                    <td><input class="form-control" id="facultyname" placeholder="*{faculty.getName}"
                                               required th:value="${request.faculty.getName}"
                                               type="text"/></td>
                                    <td><input class="form-control" disabled id="date" placeholder="*{registrationDate}"
                                               readonly required th:value="${request.registrationDate}"
                                               type="text"/></td>
                                    <td><input class="form-control" disabled id="status" readonly required
                                               th:value="${request.status}" type="text"/></td>
                                    <td class=" px-3">
                                        <div class="text-center"><input class="btn btn-primary" type="submit"
                                                                        th:value="#{submit}"></div>
                                    </td>
                                </form>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
</body>
</html>