<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{statement.preview}">Preview statement</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h1 class="py-3 text-center" th:text="#{statement.preview}">Preview statement</h1> <br>

            <h4 th:text="#{faculty.name}">Faculty Name</h4>
            <div class="row">
                <div class="col bg-light text-dark p-3">
                    <span th:text="${faculty.name}"></span>
                </div>
                <div class="col align-right">
            <a class="btn btn-secondary float-right p-3" th:text="#{view}"
               th:href="@{/faculties/{id}(id = ${faculty.getId})}">View</a></div>
            </div>
            <br>
            <h4 th:text="#{applicant.name}">Applicant name</h4>
            <div class="row">
                <div class="col bg-light text-dark clearfix p-3">
                    <span th:text="${applicant.fullName}"></span>
                </div>
                <div class="col align-right">
            <a class="btn btn-secondary float-right p-3" th:text="#{view}"
               th:href="@{/applicant/{username}(username = ${applicant.getUserDetails.getUsername})}">View</a></div>
            </div><br>
            <h3 class="py-3 text-center" th:text="#{request.scores}">Applicant's results</h3>
            <div th:if="${scores} == null or ${scores.isEmpty}">
                <h6 class="text-center">Applicant has not submitted any scores yet.</h6>
            </div>
            <div th:if="${scores != null}">
                <div class="py-3 table-responsive">
                    <table class="table table-light">
                        <thead class="table-secondary">
                        <tr>
                            <th th:text="#{score.subject}">Subject name</th>
                            <th th:text="#{score.result}">Result</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="score : ${scores}">
                                <td th:text="${score.subjectName}">Subject name</td>
                                <td id="result" th:text="${score.result}">Result</td>
                            </tr>
                            </tbody>
                            <tfoot class="table-secondary">
                            <tr>
                                <td th:text="#{request.points}">Total points</td>
                                <td id="total" th:text="${request.points}"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <br><br>
            <h6 th:text="#{request.verify.if}">Verify if candidate is eligible for enrollment and choose type of enrollment (budget or contract)</h6>

<!--            <a class="btn btn-primary" th:href="" th:value="#{statement.generate}"></a>-->
        </div>
    </div>
</div>
</body>
</html>