<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{statement.generate}">Generate statement</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h1 class="py-3 text-center" th:text="#{statement.generate}">Generate statement</h1>
            <form class="text-dark" method="post" th:action="@{/faculties/add}" th:object="${facultyDTO}">
                <div class="form-floating mb-3 mt-3">
                    <input class="form-control" id="name" placeholder="#{faculty.name}" required th:field="*{name}"
                           type="text"/>
                    <label for="name" th:text="#{faculty.name}">Faculty Name</label>
                </div>
                <br>
                <div class="form-floating mb-3 mt-3">
                    <input class="form-control" id="budget" placeholder="#{faculty.budget}" required
                           th:field="*{budgetPlaces}"
                           type="text"/>
                    <label for="budget" th:text="#{faculty.budget}">Budget places</label>
                </div>
                <br>
                <div class="form-floating mb-3 mt-3">
                    <input class="form-control" id="total" placeholder="#{faculty.budget}" required
                           th:field="*{totalPlaces}"
                           type="text"/>
                    <label for="total" th:text="#{faculty.budget}">Total places</label>
                </div>
                <br><br>
                <input class="btn btn-primary" type="submit" th:value="#{faculty.create}">
            </form>
        </div>
    </div>
</div>
</body>
</html>